<html>
    <head>
        <link rel="stylesheet" type="text/css" href="estacionamento.css">
        <title>Listagem do Estacionamento</title>
    </head>
    <body>
        <article>
            <br>
            <a href="/"><button id="b">Voltar para o menu</button></a>
            <h1>Listagem das vagas</h1>
            <form method="post">
                <table>
                    <tr>
                        <td><h2>Id da vaga</h2></td>
                        <td><h2>cpf</h2></td>
                        <td><h2>cor do carro</h2></td>
                        <td><h2>modelo do carro</h2></td>
                        <td><h2>placa do carro</h2></td>
                    </tr>
                    <tr>
                        <tbody>
                            <% esta.forEach(esta => { %>
                              <tr>
                                <td><h2><%= esta.id_Vaga %></h2></td>
                                <td><h2><%= esta.cpf %></h2></td>
                                <td><h2><%= esta.cor %></h2></td>
                                <td><h2><%= esta.modelo %></h2></td>
                                <td><h2><%= esta.placa %></h2></td>
                                <td><a href="/editaestacionamento/<%= esta.id_Vaga %>" id="c">Editar</a></td>
                                <td><a href="/exclusaoesta/<%= esta.id_Vaga %>" id="d">Excluir</a></td>
                              </tr>
                            <% }) %>   
                          </tbody>
                    </tr>

                </table>
            </form>
            
        </article>
    </body>
</html>