<html>
    <head>
        <link rel="stylesheet" type="text/css" href="quarto.css">
        <title>Listagem de Especialidade Médica</title>
    </head>
    <body>
        <article>
            <br>
            <h1>Listagem dos quartos</h1>
            <form method="post">
                <table>
                    <tr>
                        <td><h2>Id do Tipo do Quarto</h2></td>
                        <td><h2>andar do Quarto</h2></td>
                        <td><h2>Número do Quarto</h2></td>
                    </tr>
                    <tr>
                        <tbody>
                            <% quarto.forEach(quarto => { %>
                              <tr>
                                <td><h2><%= quarto.id_Tipo %></h2></td>
                                <td><h2><%= quarto.andar %></h2></td>
                                <td><h2><%= quarto.numeroQuarto %></h2></td>
                                <td><a href="/editaespecialidade/<%= quarto.id_Tipo %>" id="c">Editar</a></td>
                                <td><a href="/exclusaoquarto/<%= quarto.id_Tipo %>" id="d">Excluir</a></td>
                              </tr>
                            <% }) %>   
                          </tbody>
                    </tr>

                </table>
            </form>
            <a href="/cadastraespecialidade"><button id="b">Registrar Especialidade</button></a>
            <a href="/Inicio"><button id="b">Voltar para o menu</button></a>
        </article>
    </body>
</html>