<html>
    <head>
        <link rel="stylesheet" type="text/css" href="reserva.css">
        <title>Listagem de Especialidade Médica</title>
    </head>
    <body>
        <article>
            <br>
            <h1>Listagem das reservas</h1>
            <form method="post">
                <table>
                    <tr>
                        <td><h2>Id da reserva</h2></td>
                        <td><h2>cpf</h2></td>
                        <td><h2>Numero do quarto</h2></td>
                        <td><h2>quantidade de pessoas</h2></td>
                        <td><h2>observações</h2></td>
                        <td><h2>dia do checkin</h2></td>
                        <td><h2>dia do checkout</h2></td>
                    </tr>
                    <tr>
                        <tbody>
                            <% reserva.forEach(reserva => { %>
                              <tr>
                                <td><h2><%= reserva.id_Reserva %></h2></td>
                                <td><h2><%= reserva.cpf %></h2></td>
                                <td><h2><%= reserva.numeroQuarto %></h2></td>
                                <td><h2><%= reserva.quantidadeDePessoas %></h2></td>
                                <td><h2><%= reserva.observacao %></h2></td>
                                <td><h2><%= reserva.dia_checkin %></h2></td>
                                <td><h2><%= reserva.dia_checkout %></h2></td>
                                <td><a href="/editaespecialidade/<%= reserva.id_Reserva %>" id="c">Editar</a></td>
                                <td><a href="/exclusaoreserva/<%= reserva.id_Reserva %>" id="d">Excluir</a></td>
                              </tr>
                            <% }) %>   
                          </tbody>
                    </tr>

                </table>
            </form>
            <a href="/cadastraespecialidade"><button id="b">Registrar Especialidade</button></a>
            <a href="/Inicio"><button id="b">Voltar para o menu</button></a>
        </article>
    </body>
</html>